@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/*--------MOBILE------------*/
@media (max-width: 600px) {
  .svg_instagram {
    height: 21px;
    padding-right: 16px;
  }
  .instagramContainer {
    height: 40px;
    width: 160px;
    margin-bottom: 3.125em;
  }
}
/*--------Desktop------------*/
@media (min-width: 600px) {
  .svg_instagram {
    height: 37px;
    padding-right: 16px;
  }
  .instagramContainer {
    font-family: "Open Sans", sans-serif;
    height: 100px;
    width: 536px;
    font-size: 30px;
    margin-bottom: 2em;
  }
}
/*-------------------------------*/
.instagramContainer {
  border: 1px solid #c18585;
}
.instagramLink:hover {
  background-color: #c18585;
  color: #252525;
  text-decoration: none;
}

.instagramLink {
  text-decoration: none;
  color: #c18585;
  fill: #c18585;
}
.instagramLink:hover .svg_instagram {
  fill: #252525;
}
.instagramLink:hover {
  font-weight: normal;
}
